h1, p {
    color: black;
    background-color: white;
}

h1{
    font-family: 'Yu Gothic';
    margin-left: 25px;
}

body {
    background-color: #A3062A;
}

h2 {
    color: #A3062A;
    font-size: 19px;
    font-weight: 900;
}

div {
    position: fixed;
    top: 0px;
    right: 40px; /*3%*/
    left: 50px; /*3%*/
    width: 1260px; /* 94% */
    height: 670px; /* 82% */
    padding: 0px;
    border-top: 20px solid #333333;
    border-bottom: 40px solid #333333;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #890624;
}

div2 {
    position: fixed;
    background-color: #EBF3F2;
    width: 800px; /* 55% */
    height: 520px; /* 62% */
    margin-left: 25px;
}

tr:first-child {
    background-color: #DCDCDC;
    font-size: 14px;
    /*font-weight: bold;*/
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

table, td, th {
    border: 1px solid #C8C8C8;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    
}


table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 750px;
    max-height: 300px;
    
}

th, td {
    padding: 5px;
}
td{
    width: 100px;
}

p {
    background-color: #EBF3F2;
    font-size: 15px;
}

table, td, th, h2, p{
    margin-left: 15px;
}

input {
    width: 55%; /*30%*/
    padding-left: 1px;
    padding-bottom: 5px;
}

meanbutton {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

wbutton {
    position: absolute;
    right: 120px;
    bottom: 15px;
}

clrbutton {
    position: absolute;
    right: 230px;
    bottom: 15px;
}

button {
    background-color: #A3062A;
    border-radius: 3px;
    border: none;
    color: white;
    width: 90px;
    height: 25px;
}

html {
    height: 100%;
}

resform {
    position: absolute;
    bottom: 20px;
    left: 22px;
    color: black;
    font-size: 18px;
}
.smallspace {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 5px; /* change this to whatever height you want it */
}
.insidetbl{
    font-size:15px;
    font-weight: 500;
}
