h1, p {
    color: black;
    background-color: white;
}

body {
    background-color: #A3062A;
}

h2 {
    color: #A3062A;
    font-size: 20px;
    font-weight: bold;
}

div {
    position: fixed;
    top: 0px;
    right: 40px; /*3%*/
    left: 50px; /*3%*/
    width: 1260px; /* 94% */
    height: 670px; /* 82% */
    padding: 0px;
    border-top: 20px solid #333333;
    border-bottom: 40px solid #333333;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #890624;
}

div2 {
    position: fixed;
    background-color: #EBF3F2;
    width: 800px; /* 55% */
    height: 520px; /* 62% */
}

tr:first-child {
    background-color: #DCDCDC;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 750px;
    max-height: 300px;
    
}

th, td {
    padding: 5px;
}
td{
    width: 100px;
}

p {
    background-color: #EBF3F2;
}

table, td, th, div2, h2, p, h1 {
    margin-left: 25px;
}

input {
    width: 55%; /*30%*/
    padding-left: 1px;
}

meanbutton {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

wbutton {
    position: absolute;
    right: 120px;
    bottom: 15px;
}

button {
    background-color: #A3062A;
    border: none;
    color: white;
    width: 90px;
    height: 25px;
}

html {
    height: 100%;
}

resform {
    position: absolute;
    bottom: 15px;
    left: 22px;
    color: black;
    font-size: 18px;
}
.smallspace {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 5px; /* change this to whatever height you want it */
}